---
import Layout from "../layouts/Layout.astro";
import MyReactComponent from "../components/MyReactComponent.jsx";
---

<Layout title="Welcome to Astro.">
	<main>
		<MyReactComponent client:load />
	</main>
</Layout>
